<!--
Purpose: This patch file configures custom SMTP for EXM.
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:eds="http://www.sitecore.net/xmlconfig/eds/" xmlns:exmEnabled="http://www.sitecore.net/xmlconfig/exmEnabled/">
  <sitecore exmEnabled:require="yes" role:require="Standalone or ContentManagement or DedicatedDispatch" eds:require="CustomSmtp">
    <exm>
      <eds>
        <!-- Patch SMTP settings class -->
        <smtpSettings type="Sitecore.EDS.Core.Net.Smtp.SmtpSettings, Sitecore.EDS.Core" singleInstance="true">
			<patch:delete />
		</smtpSettings>
		
		<smtpSettings type="Sitecore.EDS.Core.Net.Smtp.SmtpSettings, Sitecore.EDS.Core" singleInstance="true">	
          <server>smtp.sendgrid.net</server>
          <port>587</port>
          <userName>apikey</userName>
          <password>password</password>
          <authenticationMethod>LOGIN</authenticationMethod>
          <startTls>True</startTls>
        </smtpSettings>
      </eds>
    </exm>
  </sitecore>
</configuration>