<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" 
  xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <settings>
      <!-- Fix for warnings in log: WARN  web[isLanguageFallbackValid] cache is cleared by -->
      <setting name="Caching.SmallCacheSize" set:value="100MB" />
    </settings>
  </sitecore>
</configuration>
